* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
}

body {
  background-color: #ddd;
}

.center-btns > button {
  transition: 0.3s all ease;
}

.center-btns > button:hover {
  background-color: #eee;
  color: #0d6efd;
  border-bottom: 2px solid #0d6efd;
}
